@import "../../style/utils/mixins.scss";

.portofolio {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  overscroll-behavior: auto;

  @include medium-large-screens {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

