@import "./variables.scss";

@mixin linearGradient-transparent-mask {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 1;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(80, 5, 5, 0.993) 100%
  );
  content: "";
}

@mixin xsmall-screens {
  @media screen and (max-width: map-get($max-width, xsmall)) {
    @content;
  }
}

@mixin small-screens {
  @media screen and (max-width: map-get($max-width, small)) {
    @content;
  }
}

@mixin medium-screens {
  @media screen and (min-width: map-get($min-width, medium )) and (max-width: map-get($max-width, medium )) {
    @content;
  }
}

@mixin medium-large-screens {
  @media screen and (min-width: map-get($min-width, medium)) {
    @content;
  }
}

@mixin large-screens {
  @media screen and (min-width: map-get($min-width, large)) {
    @content;
  }
}
