@import "../../style/utils/mixins.scss";

.galleryPaginationBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  @include appearing-page-content-animation;
}

.galleryBox {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 100%;
  margin-bottom: 50px;
}

.gallery {
  display: flex;
  justify-content: center;
  justify-self: center;
  max-height: 90%;
  margin-top: 190px;
  width: 100%;

  @include medium-screens {
    margin-top: 150px;
  }
  @include large-screens {
    margin-top: 100px;
    height: 100%;
    width: 100%;
  }
  @media (min-aspect-ratio: 2/4) and (max-aspect-ratio: 3/4) {
    margin-top: 190px;
  }
  @media (min-aspect-ratio: 4/5) and (max-aspect-ratio: 10/5) {
    margin-top: 250px;
  }

  @media (min-aspect-ratio: 16/9) {
    margin-top: 220px;
  }
}

.cardsGrid {
  max-width: 95%;
  max-height: 85%;
  padding-top: 40px;
  padding-bottom: 80px;
  border-radius: 10px;
  row-gap: 50px;
  justify-content: center;
  overflow-x: hidden;
  z-index: 5;

  @include medium-large-screens {
    row-gap: 60px;
    padding-bottom: 10px;
  }

  &__cell {
    display: flex;
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    &__imgContainer {
      height: 80%;
      margin-bottom: 20px;
    }
    &__miniature {
      max-height: 200px;
      @include xsmall-screens {
        max-height: 150px;
      }
      @include xxl-screens {
        max-height: 240px;
      }

      &:hover {
        transform: rotate(-5deg);
      }
    }
    &__toRight {
      &:hover {
        transform: rotate(5deg);
      }
    }
    &__projectLabelGold {
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1),
        0px 1px 3px rgba(0, 0, 0, 0.3);
      outline: none;
      border: 1px solid #ba6;
    }
    &__projectLabel {
      align-self: center;
      position: relative;
      max-width: 180px;
      min-width: 173px;
      min-height: 80px;
      border-radius: 2px;
      border-color: #7c7c7c71;
      background-image: -webkit-repeating-linear-gradient(
          left,
          rgba(255, 238, 170, 0) 0%,
          rgba(255, 238, 170, 0) 3%,
          rgba(255, 238, 170, 0.1) 3.75%
        ),
        -webkit-repeating-linear-gradient(left, rgba(170, 153, 85, 0) 0%, rgba(
                170,
                153,
                85,
                0
              )
              2%, rgba(170, 153, 85, 0.03) 2.25%),
        -webkit-repeating-linear-gradient(left, rgba(255, 238, 170, 0) 0%, rgba(
                255,
                238,
                170,
                0
              )
              0.6%, rgba(255, 238, 170, 0.15) 1.2%),
        linear-gradient(180deg, #a95 0%, #fea 47%, #dc8 53%, #fea 100%);

      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 8px;
      padding-bottom: 1px;
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        background-color: white;
        z-index: -1;
      }

      @include xxl-screens {
        max-width: 200px;
        min-width: 173px;
      }
      @include xsmall-screens {
        max-width: 150px;
        min-width: 120px;
      }
    }
    &__projectTitle {
      margin: 0;
      background-color: rgb(2, 2, 2);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #fff;
      text-shadow: 1px 1px 2px rgb(129, 105, 23);
      font-size: 18px;
    }
    &__projectDescription {
      margin: 1px;
      padding-bottom: 0;
      background-color: rgb(0, 0, 0);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #fff;
      text-shadow: 1px 1px 2px rgb(129, 105, 23);
    }
  }
}

.chevron {
  display: flex;
  align-self: center;
}

.paginationText {
  background: linear-gradient(
    to bottom,
    #967e4b 22%,
    #6d5532 24%,
    #5a4929 26%,
    #5a451e 27%,
    #f3d79b 40%,
    #644d2b 78%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  text-shadow: 1px 2px 4px rgba(133, 85, 61, 0.418);
}


.chevronImg {
  color: #967e4b;
  text-shadow: 1px 2px 4px rgba(133, 85, 61, 0.418);
}

.xsmallScreens {
  @include xsmall-screens {
    display: none;
  }
}
