@import "../../style/utils/mixins.scss";

.gallery {
  display: flex;
  justify-content: center;
  max-height: 90%;
  
  @include medium-large-screens {
    height: 100%;
    width: 100%;
  }
}

.cardsGrid {
  max-width: 95%;
  max-height: 85%;
  padding-top: 2vw;
  padding-bottom: 2vw;
  // background-color: rgba(207, 207, 207, 0.801);
  border-radius: 10px;
  justify-content: center;
  overflow-x: hidden;
  z-index: 5;
  @include large-screens {
    // overflow-y: hidden;
    // overflow-y: scroll;
  }
  &__cell {
    display: flex;
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    &__imgContainer {
      height: 80%;
      margin-bottom: 50px;
    }
    &__miniature {
      // width: 250px;
      max-height: 200px;
      // height: 100%
      @include xxl-screens {
        max-height: 240px;
      }

      &:hover {
        transform: rotate(-5deg);
      }
    }
    &__toRight {
      &:hover {
        transform: rotate(5deg);
      }
    }
    &__projectLabel {
      align-self: center;
      position: relative;
      max-width: 180px;
      min-width: 173px;
      min-height: 80px;
      border-radius: 2px;
      background-color: rgba(28, 56, 40, 0.308);
      background: url("https://images.unsplash.com/photo-1650804068570-7fb2e3dbf888?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=729&q=80");
      border: outset rgba(130, 191, 168, 0.171) 5px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 1px;
      padding-bottom: 1px;

      @include xxl-screens {
        max-width: 200px;
        min-width: 173px;
      }
      // &:after {
      //   position: absolute;
      //   top: -14%;
      //   left: -5%;
      //   bottom: -13%;
      //   right: -5%;
      //   // border: solid rgba(130, 191, 168, 0.281) 1px;
      //   content: "";
      //   // border-radius: 4px;
      //   // box-shadow: inset -3px -3px 4px rgba(19, 38, 39, 0.5);
      //   // background: rgba(16, 75, 78, 0.5);
      //   // background: linear-gradient(
      //   //   171deg,
      //   //   rgba(91, 145, 130, 0.5) 0%,
      //   //   rgba(50, 94, 80, 0.5) 49%,
      //   //   rgba(28, 56, 40, 0.5) 100%
      //   // );
      //   // opacity: 0.8;
      //   /* From https://css.glass */
      //   background: rgba(126, 142, 136, 0.2);
      //   border-radius: 2px;
      //   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      //   backdrop-filter: blur(0.1px);
      //   -webkit-backdrop-filter: blur(0.1px);
      //   border: 1px solid rgba(126, 142, 136, 0.3);
      //   z-index: 6;
      // }
    }
    &__projectTitle {
      margin: 0;
      // color: rgba(0, 0, 0, 0.39);
      // color: rgb(255, 255, 255);
      // text-shadow: 1px 1px 1px rgb(51, 51, 51);
      background-color: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #fff;
      text-shadow: 1px 1px 2px rgb(211, 211, 208);
      font-size: 18px;
    }
    &__projectDescription {
      margin: 1px;
      // color: rgba(0, 0, 0, 0.699);
      // text-shadow: 1px 1px 1px rgb(51, 51, 51);
      // font-size: 14px;
      // background: linear-gradient(to bottom, #e2e1dd 22%,#e4e3e1 24%, #575757 26%, #afafae 27%,#ffffff 40%,#dad9d7 78%);
      background-color: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #fff;
      text-shadow: 1px 1px 2px rgb(241, 240, 239);
    }
  }
}
