@import "../../style/utils/mixins.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #461818e0;
  color: #f9faf5c5;
  font-size: 16px;
  z-index: 10;

  &__txt{
    margin-top: 5px ;
    margin-bottom: 5px ;
  }

  &__link {
    color: hsl(9, 49%, 63%);
    &:hover {
      color: hsl(9, 50%, 53%);
      transform: scale(1.2);
      transition: all ease-in-out 250ms;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include medium-large-screens {
    flex-direction: row;
  }
}

.widescreensText{
  display: none;
  @include medium-large-screens {
    display: block;
  }
}

.smallscreensText{
  @include medium-large-screens{
    display: none;
  }
}
.socialIcon {
  height: 80px;
  transform: scale(1.1);
  transition: all ease-in-out 250ms;
  margin-left: 20px;
}
